<div class="row mt-3">

    <h1>Custom Directive to manage dropdown</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>(1) To manage dropdown directive</h3>
            <div class="dropdown" appDropDown>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="structural-directive">Structural Directive</a>
                    <a class="dropdown-item" routerLink="attribute-directive">Attribute Directive</a>
                    <a class="dropdown-item" routerLink="custom-directive">Custom Directive</a>
                </div>
            </div>
        </div>

        
    </div>
</div>